In [38]:
import pandas as pd
df = pd.read_csv('./anime.csv').dropna()

In [39]:
df.tail()

,anime_id,name,genre,type,episodes,rating,members
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [47]:
df.loc[df['genre']=='Hentai'].head()

,anime_id,name,genre,type,episodes,rating,members
11114,11879,Oni Chichi: Re-born,Hentai,OVA,2,7.89,14342
11115,29575,Mankitsu Happening,Hentai,OVA,4,7.83,8510
11116,15843,Koiito Kinenbi The Animation,Hentai,OVA,2,7.75,6940
11117,21097,Oni Chichi: Rebuild,Hentai,OVA,3,7.75,9825
11119,10779,Eroge! H mo Game mo Kaihatsu Zanmai,Hentai,OVA,6,7.68,20316

In [48]:
df.columns

Index(['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members'], dtype='object')

In [49]:
df.sort_values(['anime_id'] , ascending=False)

,anime_id,name,genre,type,episodes,rating,members
9586,34519,Mobile Suit Gakuen: G-Reco Koushien,Comedy,Special,9,5.67,94
2726,34514,Pokemon Generations,"Action, Adventure, Fantasy, Game, Kids",ONA,18,7.21,295
9266,34503,Kochinpa! Dainiki,Comedy,TV,24,3.40,75
10444,34490,Sushi Azarashi,Comedy,TV,30,3.00,12
9991,34476,Platonic Chain: Ansatsu Jikkouchuu,"Sci-Fi, Slice of Life",Special,1,1.67,51
...,...,...,...,...,...,...,...
3159,8,Beet the Vandel Buster,"Adventure, Fantasy, Shounen, Supernatural",TV,52,7.06,9848
2095,7,Witch Hunter Robin,"Action, Drama, Magic, Mystery, Police, Superna...",TV,26,7.36,64905
214,6,Trigun,"Action, Comedy, Sci-Fi",TV,26,8.32,283069
152,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,8.40,137636
22,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824

In [50]:
cols = df.columns
new_df = df[cols[0:2]]

In [51]:
new_df

       anime_id                                               name
0         32281                                     Kimi no Na wa.
1          5114                   Fullmetal Alchemist: Brotherhood
2         28977                                           Gintama°
3          9253                                        Steins;Gate
4          9969                                      Gintama&#039;
...         ...                                                ...
12289      9316       Toushindai My Lover: Minami tai Mecha-Minami
12290      5543                                        Under World
12291      5621                     Violence Gekiga David no Hoshi
12292      6133  Violence Gekiga Shin David no Hoshi: Inma Dens...
12293     26081                   Yasuji no Pornorama: Yacchimae!!

[12017 rows x 2 columns]